<section class="about-pragmaticself">
  <div class="about">
    <h1>Why?</h1>
    <h3>Probably the most important question in the world!</h3>
    <span>
      <p>- the question why is the base of the evolution eg. industrial</p>
      <p>- I like to read and often times I ask myself why something works like that. Psichological things. Why someone is happier than the others.
        Why someone is successfull. Why some things are not working even though the studies says it should work.</p>
      <p>- I like to read because I think knowledge is power. But only the true one. And it is really hard to figure out what is true, what not.</p>
      <p>- With knowledge and little extra thinking we can make our life easier, happier and more successful than ever.</p>
      <p>Going back to the original question, why this site exist? Because I want to document my findings about the things I found working based on experience or empirical data or real studies. And I hope it will help you to be more ballanced, happier and sucessful.</p>

    </span>
  </div>
</section>
