<footer>
  <div class="row">
        <div class="social medium-6 columns">
          <div class="envelope">
            <h3 class="contact-t">About the author</h3>
            <div class="">
              <h3 class="contact-line contact-t"></h3>
              <div class="profile-img"></div>
              <h4 class="profile">
                Always interested in hearing uplifting stories or answering hard questions. Just Send us an email or post on our social network channels.
                Always interested in hearing uplifting stories or answering hard questions.
              </h4>
            </div>
            <h3 class="contact-line contact-t"></h3>
            <a class="logo-text" href="//alpargabos.com">alpargabos.com</a>
          </div>
        </div>
        <div class="medium-6 columns">
          <div class="envelope">
            <h3 class="contact-t">Say Hi</h3>
            <h3 class="contact-line contact-t"><span class="ampersand">&amp;</span></h3>
            <p class="contact-sub">follow us on social networks</p>
            <div class="ten columns centered">
              <ul class="social">
                <li><a class="fa fa-envelope" href="mailto:info@pragmaticself.com"></a></li>
                <li><a class="fa fa-facebook-square" href="mailto:info@pragmaticself.com"></a></li>
                <li><a class="fa fa-twitter-square" href="mailto:info@pragmaticself.com"></a></li>
                <li><a class="fa fa-pinterest-square" href="mailto:info@pragmaticself.com"></a></li>
              </ul>
            </div>
            <h4 class="contact-note">Always interested in hearing uplifting stories or answering hard questions.</h4>
          </div>
        </div>
  </div>
  <p class="copyright text-center">© 2016 PragmaticSelf. All rights reserved.</p>
</footer>
