<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu" data-dropdown-menu>
        <li>
          <a href="http://pragmaticself.com">
            <div class="logo"></div>
          </a>
        </li>
        <li>
          <a href="http://pragmaticself.com">
            <div class="menu-text">PragmaticSelf</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="#home">
            <div id="top-menu" class="span active">BLOG</div>
        </a></li>
        <li><a href="#about">
            <div id="top-menu" class="span">ABOUT</div>
        </a></li>
        <li><a href="#contact">
            <div id="top-menu" class="span">CONTACT</div>
        </a></li>
        <li id="top-menu" class="container">
            <form class="searchbox">
                <input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
                <input type="submit" class="searchbox-submit" value="GO">
                <span class="searchbox-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
            </form>
        </li>
      </ul>
    </div>
  </div>
</header>
