<header>
    <div class="row align-middle">
        <div class="small-3 columns">
            <ul class="menu">
                <li><a href="http://pragmaticself.com">
                    <div class="logo"></div>
                </a></li>
                <li><a href="http://pragmaticself.com">
                    <div class="menu-text">PragmaticSelf</div>
                </a></li>
            </ul>
        </div>
        <div class="small-4 columns">
            <ul class="menu">
                <li><a href="#home">
                    <div class="span active">BLOG</div>
                </a></li>
                <li><a href="/about">
                    <div class="span">ABOUT</div>
                </a></li>
                <li><a href="/contact">
                    <div class="span">CONTACT</div>
                </a></li>
                <li><a href="#search">
                    <div class="span i fa fa-search"></div>
                </a></li>
            </ul>
        </div>
    </div>
</header>
