<section class="map-bp">
  <div class="featured">
    <h3>HUNGARY</h3>
    <h1>Budapest</h1>
    <div class="ten columns centered">
      <ul class="social">
        <li><a class="fa fa-envelope" href="mailto:info@pragmaticself.com"></a></li>
        <li><a class="fa fa-facebook-square" href="mailto:info@pragmaticself.com"></a></li>
        <li><a class="fa fa-twitter-square" href="mailto:info@pragmaticself.com"></a></li>
        <li><a class="fa fa-pinterest-square" href="mailto:info@pragmaticself.com"></a></li>
      </ul>
    </div>
    <h3 class="website">Alpar Gabos</h3>
    <h4><a class="fa fa-globe" href="http://alpargabos.com"> <span>WEBSITE<span></a></h4>
  </div>
</section>
