<section class="sub-nav-menu">
    <div class="row">
        <div class="smal-6 small-centered columns">
            <ul>
              {% case include.active %}
                {% when "all" %}
                  {% assign all = "active"  %}
                {% when "motivation" %}
                  {% assign motivation = "active"  %}
                {% when "pragmatism" %}
                  {% assign pragmatism = "active"  %}
                {% when "lifehacks" %}
                  {% assign lifehacks = "active"  %}
              {% endcase %}
                <li id="sub-nav-menu" class="{{all}}"><a href="/">All</a></li>
                <li id="sub-nav-menu" class="{{motivation}}"><a href="/category/motivation.html">How to</a></li>
                <li id="sub-nav-menu" class="{{pragmatism}}"><a href="/category/pragmatism.html">Tutorial</a></li>
                <li id="sub-nav-menu" class="{{lifehacks}}"><a href="/category/lifehacks.html">Videos</a></li>
            </ul>
        </div>
    </div>
</section>
