<section class="subscribe-bar">
    <div class="row">
        <div class="text-center medium-8 medium-text-left columns">
            <h4>Be a better developer by reading a posts every week!</h4>
          <p>Subscribe to be notified about new posts.</p>
        </div>
        <div class="small-11 medium-4 columns">
          <!-- Begin MailChimp Signup Form -->
          <form action="//alpargabos.us12.list-manage.com/subscribe/post?u=10db2361f68303dc3dd6d319f&amp;id=9cd8f4cf8d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="subscribe-form row collapse margintop-20px">
                <div class="small-8 medium-8 columns">
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="signup@example.com" required>
                </div>
                <div class="small-4 medium-4 columns">
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_10db2361f68303dc3dd6d319f_9cd8f4cf8d" tabindex="-1" value="">
                  </div>
                  <div class="clear">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                  </div>
                </div>
              </div>
            </form>
            <!--End mc_embed_signup-->
        </div>
    </div>
</section>
