footer
  background-color: $pragmatic-primary-color
  // color: #7f8c8d
  color: #7f8c8d
  font-family: montserrat-light

  h5
    margin: 0px

  a.fa
    font-size: 40px
    padding: 0px 20px
    color: #bdc3c7
    &:hover
      color: #3498db


  .envelope
    margin-top: 40px
    margin-bottom: 20px
    text-align: center
    background-color: lighten(#2c3e50, 8)

  .contact-t
    font-size: 26px
    font-weight: normal
    text-transform: uppercase
    font-family: montserrat-light

  .contact-line
    border-top: 1px solid $pragmatic-primary-color
    margin-top: 0
    height: 1px

  .ampersand
    position: relative
    bottom: 19px
    background: lighten(#2c3e50, 8)
    padding: 0px 20px

  .contact-sub
    font-size: 20px
    text-transform: uppercase

  .social
    list-style: none
    display: block
    direction: ltr

  ul.social li
    display: inline

  .contact-note
    clear: both
    font-size: 12px
    font-weight: normal
    border-top: 1px solid $pragmatic-primary-color
    padding: 10px

  .logo-text
    font-size: 20px
    display: inline-block
    color: #3498db
    margin: 0px
    padding: 0px
    margin-top: -20px

  .profile
      display: inline-block
      float:right
      width: 70%
      font-size: 12px
      font-weight: normal

  .profile-img
    width: 100px
    height: 100px
    background:
      image: url(/assets/img/home_about_profile_circle.png)
      repeat: no-repeat
      position: center
      size: contain
    display: inline-block
    float:left
    width: 25%
    padding: 0px

  .copyright
    color: lighten(#2c3e50, 8)
    font-weight: bold
    margin: 0px
    padding: 5px
