section.post
  font-family: bebas_neuebold

  .post_img
    background:
      size: cover
      repeat: no-repeat
      position: 50% 50%
    width: auto
    height: 459px

  .title
    text-align: center

  .content
    
